*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: #3d5a80;
  --bg-2: #98c1d9;
  --bg-3: #e0fbfc;
  --bg-4: #ee6c4d;
  --bg-5: #293241;
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 95%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

/* ///////////////// */

a[role="button"] {
  display: inline-block;
  padding: 0.5rem 1rem;
  outline: 1px solid var(--bg-1);
  border-radius: 4px;
  color: var(--bg-2);
}

a[role="button"]:hover {
  transition: all 0.3s ease;
  outline-color: var(--bg-2);
  color: var(--bg-3);
}

label {
  display: block;
  margin: 0.5rem 0 0.2rem 0;
  color: var(--bg-2);
  opacity: 0.8;
  font-size: 0.9em;
}

input,
select,
button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
}

input,
select {
  color: var(--bg-3);
  background: var(--bg-5);
  outline: 1px solid var(--bg-1);
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: inherit;
  margin-bottom: 0.5rem;
}

input:disabled,
select:disabled,
button:disabled {
  opacity: 0.5;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

input:focus::placeholder {
  opacity: 0;
}

input:focus,
select:focus {
  outline-color: var(--bg-2);
  outline-offset: 2px;
  background: var(--bg-1);
  color: var(--white);
}

button[type="submit"] {
  cursor: pointer;

  background: var(--bg-4);
  padding: 1rem;
  font-size: inherit;
  width: 100%;
  border-radius: 4px;
  margin-top: 1rem;
  color: inherit;
  text-transform: uppercase;
  outline: 1px solid var(--bg-5);
}

button[type="submit"]:hover {
  transition: all 0.3s ease;
  background: var(--bg-1);
  outline: 1px solid var(--bg-3);
}

/* ////////// CLASS  /////////////// */
.muted {
  opacity: 0.6;
}
