*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: #3d5a80;
  --bg-2: #98c1d9;
  --bg-3: #e0fbfc;
  --bg-4: #ee6c4d;
  --bg-5: #293241;
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 95%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

/* ///////////////// */

a[role="button"] {
  display: inline-block;
  padding: 0.5rem 1rem;
  outline: 1px solid gray;
  border-radius: 4px;
}
